.tasks {
  max-height: 50vh;
  overflow: scroll;
}

.task {
  background-color: rgb(37, 47, 136);
  color: #ffffff;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.25rem;
  margin-bottom: 1.5rem;
  gap: 1.5rem;
  padding: 1rem;
  transition: padding 0.2s linear, box-shadow 0.2s linear;
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.4);
}

.task:hover {
  padding-block: 1.7rem;
  box-shadow: 0 7px 17px rgb(37, 47, 136, 0.7);
}

.task__container {
  text-align: right;
  direction: rtl;
}

.task__title {
  margin-bottom: 0.5rem;
}

.task__desc {
  opacity: 0.8;
  line-height: 1.5rem;
}

.icons {
  display: flex;
  gap: 0.5rem;
}

.icons svg {
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  font-size: 2rem;
  padding: 1px;
}

.icons .unComplete {
  color: "#fff";
  background-color: #8bc34a;
}

.icons .done {
  color: #8bc34a;
}
