.todolist {
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 0.25rem;
  width: 25rem;
}

.todolist__title {
  text-align: center;
  border-bottom: 1px solid #eee;
  margin-bottom: 1.5rem;
}

.tabs {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  margin-bottom: 1.5rem;
}

.tabs li {
  color: #ccc;
  padding: 0.75rem 1rem;
  border: 1px solid #eee;
  cursor: pointer;
}

.tabs li:hover {
  background-color: #f5f5f5;
}

.tabs li.active {
  background-color: #f8edf0;
  color: #a26372;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding-top: 0.5rem;
}

.actions button:disabled {
  background-color: #ccc !important;
  color: white;
  cursor: pointer;
}

.input__container {
  position: relative;
  flex-grow: 1;
}

.input__container input {
  flex-grow: 1;
  outline: none;
  width: 100%;
  line-height: 1.7rem;
  padding: 0.65rem 0.2rem;
  border: 2px solid #a6a6a6;
  border-radius: 0.25rem;
}

.input__container .input__placeholder {
  position: absolute;
  color: #a6a6a6;
  font-size: 0.8rem;
  top: 1rem;
  left: 0.5rem;
  transition: 0.2s linear;
}

.input__container input:focus,
.input__container input:valid {
  color: #9a163d;
  border: 2px solid #9a163d;
}

.input__container input:focus + .input__placeholder,
.input__container input:valid + .input__placeholder {
  top: -0.4rem;
  background-color: white;
  color: #9a163d;
  padding: 0 0.4rem;
  scale: 0.88;
}
