*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #181a1c;
  font-family: "Alexandria", serif;
}

input,
button {
  font-family: inherit;
}

ul li {
  list-style: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
